body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #DE1637;
  color: white;
  line-height: 1.6;
}

.navbar {
  display: flex; 
  justify-content: space-between; 
  align-items: baseline; 
  padding: 15px 80px;
}

.nav-list {
  display: flex;
  list-style: none;
  gap: 25px;
  background-color: #DE1637; 
}

.navbar a {
  text-decoration: none;
  color: white;
  font-size: 18px; 
  padding: 10px 20px;
  white-space: nowrap;
  transition: 0.3s;
}

.navbar a:hover {
   color: #9fd5d1; 
  }


.home-section {
  background: #9fd5d1;
  color: black;
  padding: 50px 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.home-container {
   max-width: 504px; 
}
.home-role { 
  color:#DE1637; 
  font-weight: bold;
   letter-spacing: 2px; 
   margin-bottom: 10px;
   }
.home-title {
   font-size: 42px;
    font-weight: 700;
 } 
.home-name { 
  font-size: 48px;
   font-weight: 800;
    color: #DE1637;
     margin-bottom: 20px;
    }
.home-description { 
  color: #000;
   margin-bottom: 25px; }

.home-buttons { 
  display: flex;
   gap: 15px; 
  }

.btn { 
  padding: 12px 25px;
  border: none;
  cursor: pointer;
  font-weight: bold;
  border-radius: 6px; 
  text-decoration: none;
  transition: all 0.3s ease; 
}

.btn:hover {
  transform: translateY(-5px);
  filter: brightness(1.1);
}

.primary-btn { 
  background-color: #DE1637;
   color: white;
  border: 1px solid white;
 
   }
.secondary-btn { 
  background-color: #DE1637;
   color: white;
   border: 1px solid white;
   }


.about {
  background-color: #DE1D2D;
  padding: 100px 10%;
}

.about__container {
  display: flex;
  justify-content: space-between;
  gap: 60px;
  max-width: 1200px;
  margin: 0 auto;
}

.about__left { 
  width: 60%; 
  display: flex; 
  flex-direction: column;
   gap: 40px; 
  }
.about__title {
   font-size: 40px; 
   font-weight: bold;
    color: #ffffff;
   }
.about__text {
   font-size: 18px;
    max-width: 650px;
     color: #f5f5f5;
     }
.about__stats { 
  display: flex;
   gap: 70px;
   }
.stat h3 { 
  font-size: 36px;
   color: #ffffff; 
  }

.about__right {
   width: 40%;
    display: flex;
     flex-direction: column;
      gap: 20px; 
    }
.skills__title { 
  font-size: 40px;
   font-weight: bold;
    text-transform: lowercase;
   }
.skill__bar-bg {
   flex-grow: 1; 
   background-color:#00ffcc;
    height: 7px;
     border-radius: 8px;
      overflow: hidden;
    }
.skill__bar-fill { 
  background-color: #ffffff; 
  height: 100%;
   border-radius: 6px; 
  }

@media (max-width: 768px) {
  .about__container {
     flex-direction: column;
     }
  .about__left,
   .about__right { 
    width: 100%;
   }
  .about__stats { 
    flex-direction: column;
     gap: 50px;
     }
}


.project {
  background-color: #9fd5d1;
  padding: 100px 0;
}

.project_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 50px;
  max-width: 1200px;
  margin: 0 auto;
  padding: 40px 10%;
}

.project_content { 
  flex: 1.3;
 }
.project_title { 
  font-size: 32px; 
  font-weight: bold;
   color: #DE1637;
    margin-bottom: 20px; 
  }
.project_description {
   font-size: 18px; 
   color: #0f0f12;
    text-align:center;
   }
.project_img { 
  width: 100%;
   height: auto;
    display: block;
   }

@media (max-width: 768px) {
  .project_container { 
    flex-direction: column; 
    text-align: center; 
  }
  .project_content { 
    width: 100%; 
  }
  .project_img { 
    width: 80%;
     margin: 0 auto;
     }
}


.contact { 
  padding: 80px 0; 
  text-align: center; 
}

.contact__title { 
  font-size: 32px;
   font-weight: bold;
    margin-bottom: 20px;
     color: #FFFFFF; 
    }
.contact__text { 
  margin: 0 auto 30px auto;
   max-width: 450px;
   }

.contact__form {
  max-width: 500px;
  margin: 0 auto 30px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.form__input {
  width: 100%;
  padding: 12px;
  border: 2px solid transparent;
  border-radius: 6px;
  outline: none;
  transition: all 0.3s ease;
}

.form__input:focus {
  border-color: #00ffcc; 
  transform: scale(1.02); 
}

.form__textarea {
  height: 120px;
  resize: none; 
}

.footer-btn { 
  display: inline-block; 
  padding: 15px 30px;
  background-color: white;
  color: #DE1637;
  text-decoration: none;
  font-weight: bold;
  border-radius: 8px;
  border: none;
  cursor: pointer;
}

.contact__link { 
  color: white; 
  text-decoration: none;
   font-weight: bold; }
.contact__link:hover { 
  color: #00ffcc; 
}

.footer {
  width: 100%;
  text-align: center;
  padding: 20px 0;
  background-color: #1a1a1a;
  color: #fff;
}
